/* temporary styles for debugging */
.borderThis{
  border: 1px solid black;
}


body{
  /* width: 900px; */
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 50px 48px 0;
  line-height: 1;
  color: #333;
  background: #FFF;
  font-family: ff-tisa-web-pro, Georgia, sans-serif;
  text-align: center;
}

body h1{
  font-family: 'Permanent Marker', cursive;
    color: #34AC98;
}

.welcome-div{
  width: 100%;
  height: 100%;
  background-color:white;
  color: black;
  text-align:justify;

}
.welcome-div p{
  font-size: .875em;
  line-height: 1.45em;

}

nav{
  position: absolute;
  top: 158px;
  left: 0;
  width: 160px;
}
nav a{
  text-decoration: none;
  color: #34AC98;
  display: block;
  height: 28px;
  padding: 4px 0 0 44px;
  font-style: italic;
  transition: all .2s ease;
  cursor: pointer;
  font-size: 20px;
}
nav ul{
   list-style: none;
}

nav li {
    display: block;
    margin-bottom: 18px;
    line-height: 1.3em;
    list-style: none;
    font-size: 100%;
    font-weight:bolder;
}

nav a:hover{
  color:indianred;
}

.home-image{
  display: block;
  width:100%;
  height: 760px;
}
.enter-boutique{
  top: 585px;
  padding: 10px 24px 15px;
  color: #222;
  background: #FFF;
  font-size: 1.5em;
  position: absolute;
  right:auto;
  left: auto;
  font-style: italic;
  cursor: pointer;
}
.boutique-header{
  top: 620px;
  padding: 10px 24px 15px;
  color: #222;
  background: #FFF;
  font-size: 1em;
  position: absolute;
  right:auto;
  left: auto;
  font-style: italic;

}
.footer{
  clear:both;
  position: relative;
  min-height: 70px;
  padding-top: 20px;
  border-top: 2px solid #E5E5E5;
  color: #AAA;

}
.new-user-form{
  margin-top: 110px;
}

.text-box{
  height:20px;
  margin: 5px;
  border-radius: .1em;
  text-align: center;
}
input[type="submit"]{
  background-color: #34AC98;
  height:20px;
  margin: 5px;
  border-radius: 5px;
  border:1px solid black;
  text-align: center;

}

body {
  text-align: center;
}

button {
  width: 150px;
}

ul {
  list-style-type: none;
  padding: 0;
}


.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flexRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-start;
}

.flexWrap{
  flex-flow: wrap;
  justify-content: space-between;
}

/* Use to define appearance of each item  */
.singleItem{
  margin: .25em auto;
  min-height: 20em;
  max-width: 49%;
  /* width: 100%; */
}

.widthEighty{
  width: 80%;
}

.widthTwenty{
  width: 20%;
  /* Not sure how to address the height just yet. Hardcoded for now. */
  height: 800px;
}

.widthFull{
  width: 100%;
}

.sticky{
  position: sticky;
  top: 0;
}


.modal-textbox {
  background-color: khaki;
	height: 350px;
	width: 450px;
	border-radius: 2px;
	margin: auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#close{
  margin-right: 0px;
}
.showCart{
  display: flex;
  justify-content:space-around;

}
.cart-header{
  font-size: 1.5rem;
  margin-top: 24px;
  font-weight: 400;
  letter-spacing: -.02em;
  text-align: left;
  margin: 16px 0 0;
  font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif;
}
hr{
  width:90%;
}

.showCart img{
  display: block;
  width: 100px;
  hieght: 200px;
  border-color: lightgrey;
}

.showCart p{
  width: 400px;
  font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: .8rem;
  cursor: default;

}
.qty-price > h4{
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  line-height: .75rem;
  cursor: default;
  font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
}
