<header>
  <h1>bootcamp boutique.</h1>
</header>

<div class="product_details">
  <h1>{{itemCtrl.temporaryItem.name}}</h1>
  <img src="{{itemCtrl.temporaryItem.image}}" alt="{{itemCtrl.temporaryItem.name}} image">
  <ul>
    <li>${{itemCtrl.temporaryItem.price}}</li>
    <li>
      <p>{{itemCtrl.temporaryItem.description}}</p>
    </li>
  </ul>
  <div class="view_reviews">
    <ul>
      <li>{{itemCtrl.temporaryItem.reviews.username}} rating this item {{itemCtrl.temporaryItem.reviews.ratings}}</li>
      <li><p>{{itemCtrl.temporaryItem.reviews.review}}</p></li>
    </ul>
  </div>
  <div class="write_review" ng-if="userCtrl.loggedInUsername">
    <h5>add your review.</h5>
    <form >

    </form>
  </div>
</div>
