<header>
  <h1>bootcamp boutique.</h1>
</header>

<div class="items-list">

  <!-- Once 'admin' users are enabled, have this div be visible only if an admin is logged in. -->
  <div class="adminOnly" ng-if="userCtrl.loggedInUsername">
    <div class="new-item">
      <form ng-submit="itemCtrl.createItem()">
        <input class="" type="text" ng-model="itemCtrl.createNewItem.name" placeholder="name" /><br>
        <input class="" type="text" ng-model="itemCtrl.createNewItem.price" placeholder="price" /><br>
        <input class="" type="text" ng-model="itemCtrl.createNewItem.category" placeholder="category" /><br>
        <input class="" type="text" ng-model="itemCtrl.createNewItem.description" placeholder="description" /><br>
        <input class="" type="text" ng-model="itemCtrl.createNewItem.image" placeholder="image url" /><br>
        <input type="submit" value="Add Item">
      </form>
    </div>
  </div>

  <ul class="flexRow flexWrap widthFull">
    <li class="singleItem borderThis" ng-repeat="item in itemCtrl.items"> <h4>{{item.name}}</h4>
      <img ng-src= {{item.image}} alt="{{item.name}} image" style="max-width: 30%; "/>

      <br />
      <button ng-click="userCtrl.pageToDisplay = 2 ; itemCtrl.temporaryItem = item; itemCtrl.indexOfEditFormToShow = -1">View Details</button>
      <!-- <div ng-if="itemCtrl.showModal && $index === itemCtrl.itemIndex" id="modal">

        <div ng-include="'partials/showproduct.html'"></div>


      </div> -->
      <!-- edit item link for each item -->
      <!-- <a
      ng-if="$index !== itemCtrl.indexOfEditFormToShow"
      href="#"
      ng-click="itemCtrl.indexOfEditFormToShow = $index">
      Edit
      </a> -->


      <!-- Once 'admin' users are enabled, have this div be visible only if an admin is logged in. -->
      <div class="adminOnly">

        <button ng-click="userCtrl.addToCart(1, item._id)"> Add to cart </button>

      <!-- delete button for each item -->
        <!-- <button ng-click="itemCtrl.deleteItem(item._id)">Delete</button> -->

      <!-- edit item form -->
        <!-- <form ng-if="$index === itemCtrl.indexOfEditFormToShow" ng-submit="itemCtrl.updateItem(item._id)">
          <input class="" type="text" ng-model="itemCtrl.updateItemAttrs.name" placeholder="{{item.name}}"/><br>
          <input class="" type="text" ng-model="itemCtrl.updateItemAttrs.price"  placeholder="{{item.price}}"/><br>
          <input class="" type="text" ng-model="itemCtrl.updateItemAttrs.category" placeholder="{{item.category}}"/><br>
          <input class="" type="text" ng-model="itemCtrl.updateItemAttrs.description" placeholder="{{item.description}}"/><br>
          <input class="" type="text" ng-model="itemCtrl.updateItemAttrs.image" placeholder="{{item.image}}" /><br>

          <input type="submit" value="Update Item">
          <a href="/" ng-if="$index === itemCtrl.indexOfEditFormToShow" ng-click="itemCtrl.indexOfEditFormToShow = -1" >Cancel</a>

        </form> -->
      </div>
    </li>
  </ul>
</div>
