<div class="welcome-div">
  
  <p>whether you are trying to take the next step in your existing career, making a change, or learning for the very first time, coding bootcamps are one of the most exciting education options out right now. as coding bootcamp students, we have compiled what we think are essential products to help maximize your coding bootcamp experience. sign up, log-in, and join our community of young coders today.</p>
  <img class="home-image" src="https://i.imgur.com/5MOpwZG.jpg">

  <h3 class="enter-boutique" ng-click="userCtrl.pageToDisplay = 1">enter the boutique.</h3>
  <h4 class="boutique-header">With our carefully assembled products list, you'll know what to buy. </h4>

</div>
